/* BACKGROUND image */

.bg {
    /* The image used */
    background-image: url("./image/martin-adams-YA-DFlSzXBE-unsplash.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.csea {
    width: 100px;
    height: auto;
}

.by {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    display: table;
    margin: auto;
}

header {
    text-align: center;
    text-transform: uppercase;
}

body {
    font-family: sans-serif;
    color: #444;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

header>h1 {
    font-family: Lucida Handwriting;
}


/* nav techinical */

nav {
    float: center;
    text-align: center;
}

nav a:link {
    /* background-color: orange;
    margin: 20px;
    padding: 20px;
    display: block; */
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

nav a:link:last-child {
    margin-right: 0;
}

nav a:link:last-child {
    margin-right: 0;
}


/* article */

article {
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align-last: auto;
}


/* fotte */

footer {
    text-align: center;
    display: inline-block;
}

a {
    border: 1px solid rgba(0, 0, 0, 0.445);
    padding: 5px;
    text-decoration: none;
    color: #444;
    border-radius: 15px 50px;
}


/* unvisited link */

a:link {
    color: black;
}


/* visited link */

a:visited {
    color: black;
}


/* mouse over link */

a:hover {
    color: hotpink;
    background-color: black;
    color: white;
}


/* selected link */

a:active {
    color: blue;
}